:root {
  --logo-color: 口#000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-background: #fff;
  --text-color: #757575;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
}
body {
  font-family: "Roboto";
}
.logo {
  color: #000;
  font-family: "Raleway";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04875rem;
}
span {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04875rem;
}
.header-link-span {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0175rem;
}
.header-link {
  color: #212121;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0175rem;
}
.info-link-span {
  color: #2196f3;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0175rem;
}
.info-link {
  color: #757575;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0175rem;
}
.service {
  background: #2f303a;
}
.service-title {
  color: #fff;
  text-align: center;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.75rem; /* 136.364% */
  letter-spacing: 0.165rem;
  text-transform: uppercase;
}
.main-button {
  border-radius: 0.25rem;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-info {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 187.5% */
  letter-spacing: 0.06rem;
}
.about-us-title {
  color: #212121;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}
.about-us-info {
  color: #757575;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.02625rem;
}
.our-work-tite {
  color: #212121;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0675rem;
}
.team {
  background: #f5f4fa;
}
.team-title {
  color: #212121;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0675rem;
}
.team-list-title {
  color: #212121;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03rem;
}
.team-list-info {
  color: #757575;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03rem;
}
footer {
  background: #2f303a;
}
.logo-footer {
  color: #fff;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04875rem;
}
.address-info {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.02625rem;
}
.info-item-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.02625rem;
}
