:root {
  --logo-color: å£#000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-background: #fff;
  --text-color: #757575;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
  --svg-fill: #AFB1B8;
  --tell-color: rgba(255, 255, 255, 0.6);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid green;
}
body {
  font-family: "Roboto";
}
header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-info {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.span-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-list {
  display: flex;
  gap: 50px;
}
.span-header {
  color: var(--accent-color);
}
.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.info-link {
  display: flex;
  align-items: center;
}
.header-link:hover,
.header-link:focus{
  color: var(--accent-color);
}
.info-link:hover,
.info-link:focus{
  color: var(--accent-color);
  .mail-icon {
    fill: #2196f3;
  }
  .phone-icon {
    fill: var(--accent-color);
  }
}
.info-list {
  display: flex;
  gap: 50px;
}
.info-item {
  display: flex;
  align-items: center;
}
.header-navigation {
  margin-right: auto;
}
.info-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
}
.phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}
.service {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../img/service.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.service-title {
  width: 696px;
  color: var(--main-background);
  text-align: center;
  font-size: 44px;
  font-weight: 900px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.service-button {
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-background);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  margin-top: 30px;
  padding: 10px 32px;
}
.about-us {
  padding-top: 94px;
}
.about-us-list {
  display: flex;
  gap: 30px;
}
.about-us-item::before {
  content: "";
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  display: block;
  background-image: url(../img/antenna1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.about-us-item:nth-child(2):before {
  background-image: url(../img/clock1.png);
}
.about-us-item:nth-child(3):before {
  background-image: url(../img/diagram1.png);
}
.about-us-item:nth-child(4):before {
  background-image: url(../img/astronaut1.png);
}
.about-us-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-us-info {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-work-tite {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.our-work-list {
  display: flex;
  justify-content: space-between;
}
.our-work-img {
  width: 370px;
  height: 294px;
}
.team {
  background: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-img {
  width: 270px;
}
.team-item-container {
  background: var(--main-background);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  text-align: center;
}
.team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
  border-radius: 0 0 4px 4px;
}
.team-list-title {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team-list-info {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-fill);
}
.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  .team-icon {
    fill: #fff;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients > .container {
  text-align: center;
}
.clients-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--svg-fill);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  .clients-icon {
    fill: #2196f3;
  }
}
.footer {
  background: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.logo-footer {
  color: var(--main-background);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.address-info {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.info-item-link {
  color: var(--tell-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
address {
  margin-top: 20px;
  font-style: normal;
}
.footer-info-list {
  margin-top: 9px;
}
.footer-info-item:first-child {
  margin-bottom: 9px;
}
.social-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-list {
  display: flex;
  gap: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}