:root {
  --logo-color: å£#000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-background: #fff;
  --text-color: #757575;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
  --svg-fill: #afb1b8;
  --tell-color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid green;
}

body {
  font-family: "Roboto";
}

header {
  padding-top: 24px;
  padding-bottom: 4px;
}

.header-info {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.span-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-list {
  display: flex;
  gap: 50px;
}
.header-item {
  position: relative;
}

.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover::after {
  opacity: 1;
}

.header-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.caren {
  color: var(--accent-color);
}
.caren::after {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}
.info-link {
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);

  .mail-icon {
    fill: #2196f3;
  }

  .phone-icon {
    fill: var(--accent-color);
  }
}

.info-list {
  display: flex;
  gap: 50px;
}

.info-item {
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-right: auto;
}

.info-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
}

.phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}

.service {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/service.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.service-title {
  width: 696px;
  color: var(--main-background);
  text-align: center;
  font-size: 44px;
  font-weight: 900px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.service-button {
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-background);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  margin-top: 30px;
  padding: 10px 32px;
}

.about-us {
  padding-top: 94px;
}

.about-us-list {
  display: flex;
  gap: 30px;
}

.about-us-item::before {
  content: "";
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: block;
  background-image: url(../img/antenna1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.about-us-item:nth-child(2):before {
  background-image: url(../img/clock1.png);
}

.about-us-item:nth-child(3):before {
  background-image: url(../img/diagram1.png);
}

.about-us-item:nth-child(4):before {
  background-image: url(../img/astronaut1.png);
}

.about-us-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-us-info {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work-tite {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.our-work-list {
  display: flex;
  justify-content: space-between;
}

.our-work-item {
  text-align: center;
  position: relative;
}

.our-work-img {
  width: 370px;
  height: 294px;
}

.work-link {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-img {
  width: 270px;
}

.team-item-container {
  background: var(--main-background);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  text-align: center;
}

.team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-list-title {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-list-info {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-fill);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);

  .team-icon {
    fill: #fff;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients > .container {
  text-align: center;
}

.clients-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--svg-fill);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);

  .clients-icon {
    fill: #2196f3;
  }
}

.footer {
  background: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.info-box {
  margin-right: 70px;
}

.logo-footer {
  color: var(--main-background);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.address-info {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.info-item-link {
  color: var(--tell-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

address {
  margin-top: 20px;
  font-style: normal;
}

.footer-info-list {
  margin-top: 9px;
}

.footer-info-item:first-child {
  margin-bottom: 9px;
}

.social-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.form-box {
  margin-left: auto;
}

.form-title {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
}

.form-email {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn-box {
  position: relative;
}

.form-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
}

.form-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--main-background);
}

/* ===================== */
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* can use */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  background-color: var(--main-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close:hover,
.modal-close:focus {
  outline: 0px solid transparent;

  .modal-cross {
    fill: #2196f3;
  }
}

.modal-cross {
  width: 11px;
  height: 11px;
  fill: #000;
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
}

.modal-lable {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.modal-box {
  position: relative;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  display: block;
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-coment {
  display: block;
  width: 448px;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-coment:hover,
.modal-coment:focus {
  border: none;
  outline: 1px solid var(--accent-color);
}

.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
}

.modal-span {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-left: 8px;
  margin-right: 4px;
}

.modal-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-btn {
  color: var(--main-background);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
  border-radius: 4px;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
  outline: 0px solid;
  background: #188ce8;
}
