:root {
  --logo-color: 口#000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-background: #fff;
  --text-color: #757575;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
  --tell-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto";
}
.logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover{
  color: var(--accent-color);
}
.info-link:hover{
  color: var(--accent-color);
}
.info-link {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.service {
  background: var(--footer-background);
}
.service-title {
  color: var(--main-background);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.main-button {
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-background);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.about-us-title {
  color: var(--title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.about-us-info {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.our-work-tite {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}
.team {
  background: var(--team-background);
}
.team-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}
.team-list-title {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.team-list-info {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
footer {
  background: var(--footer-background);
}
.logo-footer {
  color: var(--main-background);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.address-info {
  color: var(--main-background);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.info-item-link {
  color: var(--tell-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
