:root{
    --logo-color:口#000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --main-background: #FFF;
    --text-color: #757575;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
}