:root {
  --logo-color: 口#000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --main-background: #fff;
  --text-color: #757575;
  --team-background: #f5f4fa;
  --footer-background: #2f303a;
  --tell-color: rgba(255, 255, 255, 0.6);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
body {
  font-family: "Roboto";
}
header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-info {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.span-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-span {
  color: var(--accent-color);
}
.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.caren {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
  .mail-icon {
    fill: #2196f3;
  }
  .phone-icon {
    fill: var(--accent-color);
  }
}
.info-list {
  display: flex;
  gap: 50px;
}
.info-item {
  display: flex;
  align-items: center;
}
.header-navigation {
  margin-right: auto;
}
.info-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
}
.phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  padding: 6px 25px;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--main-background);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.filter-button {
  border-radius: 4px;
  background: var(--team-background);
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
}
.goods-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.goods-img {
  width: 100%;
}
.goods-wrap {
  border: 1px solid #eee;
  padding: 24px 20px;
}
.goods-item {
  flex-basis: calc((100% - 60px) / 3);
}
.goods-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.goods-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.goods-info {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
.footer {
  background: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.info-box {
  margin-right: 70px;
}
.logo-footer {
  color: var(--main-background);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.address-info {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.info-item-link {
  color: var(--tell-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
address {
  margin-top: 20px;
  font-style: normal;
}
.footer-info-list {
  margin-top: 9px;
}
.footer-info-item:first-child {
  margin-bottom: 9px;
}
.social-box {
  margin-right: auto;
}
.social-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-list {
  display: flex;
  gap: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.form-title {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.email-form {
  display: flex;
}
.form-email {
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn-box {
  position: relative;
}
.form-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
}
.form-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--main-background);
}
