.about {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 30px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 3);
      position: relative;
    }
  }
  &__item::before {
    content: "";
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    display: block;
    background-image: url(../img/antenna1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }

  &__item:nth-child(2):before {
    background-image: url(../img/clock1.png);
  }

  &__item:nth-child(3):before {
    background-image: url(../img/diagram1.png);
  }

  &__item:nth-child(4):before {
    background-image: url(../img/astronaut1.png);
  }

  &__title {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }

  &__info {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
