.about-us {
    padding-top: 94px;
}

.about-us-list {
    display: flex;
    gap: 30px;
}

.about-us-item::before {
    content: "";
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    display: block;
    background-image: url(../img/antenna1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.about-us-item:nth-child(2):before {
    background-image: url(../img/clock1.png);
}

.about-us-item:nth-child(3):before {
    background-image: url(../img/diagram1.png);
}

.about-us-item:nth-child(4):before {
    background-image: url(../img/astronaut1.png);
}

.about-us-title {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-us-info {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}