footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.info-box {
    margin-right: 70px;
}

.logo-footer {
    color: var(--main-background);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address-info {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.info-item-link {
    color: var(--tell-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

address {
    margin-top: 20px;
    font-style: normal;
}

.footer-info-list {
    margin-top: 9px;
}

.footer-info-item:first-child {
    margin-bottom: 9px;
}

.social-title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-list {
    display: flex;
    gap: 10px;
}

.social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-background);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.form-box {
    margin-left: auto;
}

.form-title {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.email-form {
    display: flex;
}

.form-email {
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn-box {
    position: relative;
}

.form-btn {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 62px;
}

.form-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 28px;
    fill: var(--main-background);
}