.our-work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-work-tite {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.our-work-list {
    display: flex;
    justify-content: space-between;
}

.our-work-item {
    text-align: center;
    position: relative;
}

.our-work-img {
    width: 370px;
    height: 294px;
}

.work-link {
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-background);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}