.service {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/service.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.service-title {
    width: 696px;
    color: var(--main-background);
    text-align: center;
    font-size: 44px;
    font-weight: 900px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.service-button {
    border: none;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-background);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    margin-top: 30px;
    padding: 10px 32px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}