.team {
  background: $team-background;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: $title-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 3);
      position: relative;
    }
  }

  &__img {
    width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}

.box {
  background: $main-background;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  text-align: center;

  &__title {
    color: $title-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  &__info {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
  }

  &