.team {
  background: $team-background;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: $title-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
  }

  &__img {
    width: 270px;
  }
}

.box {
  background: $main-background;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  text-align: center;

  &__title {
    color: $title-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  &__info {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;

      .box__icon {
        fill: $main-background;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $svg-fill;
  }
}
