
    $logo-color: #000;
    $accent-color: #2196f3;
    $title-color: #212121;
    $main-background: #fff;
    $text-color: #757575;
    $team-background: #f5f4fa;
    $footer-background: #2f303a;
    $svg-fill: #afb1b8;
    $tell-color: rgba(255, 255, 255, 0.6);
